https://www.facebook.com/		            facebook	
https://www.google.pl/			            google	
https://www.archlinux.org/		            arch
https://smail.pwr.edu.pl/                   poczta-pwr
https://jsos.pwr.edu.pl/		            jsos
https://www.symbolab.com/		            symbolab
https://www.youtube.com/		            youtube
https://mail.google.com/		            gmail
https://kat.cr/				                kickass
http://torrenty.pl                          torrenty
https://github.com/micdud1995 		        github
http://web.airdroid.com/ 		            airdroid
http://pl.spoj.com/problems/latwe/	        spoj
http://forum.4programmers.net/ 		        4p
http://www.debian.pl/forum.php		        debian-forum
https://www.debian.org/News/weekly/         news-debian
http://distrowatch.com/                     distrowatch
