https://www.facebook.com/
https://www.google.pl/
https://www.archlinux.org/
https://smail.pwr.edu.pl/
https://jsos.pwr.edu.pl/
https://www.symbolab.com/
https://www.youtube.com/
https://mail.google.com/
https://kat.cr/
http://torrenty.pl
https://github.com/micdud1995
http://web.airdroid.com/
http://pl.spoj.com/problems/latwe/
http://forum.4programmers.net/
http://www.debian.pl/forum.php
https://www.debian.org/News/weekly/
http://distrowatch.com/
https://thepiratebay.mn/	Download music, movies, games, software! The Pirate Bay - The galaxy's most resilient BitTorrent site	
https://pl.python.org/forum/	Polish Python Coders Group - polska społeczność języka programowania Python	
http://allegro.pl/	Allegro.pl - Więcej niż aukcje. Najlepsze oferty na największej platformie handlowej.	
http://www.decathlon.pl/	Decathlon: sprzedaż artykułów, ubrań i butów sportowych. Sprzedaż internetowa...	
https://edukacja.pwr.wroc.pl/EdukacjaWeb/studia.do	Politechnika Wrocławska - Studia -	
http://www.pythonchallenge.com/	The Python Challenge	
http://rozklad-pkp.pl/	Wyszukiwarka połączeń kolejowych	
http://www.weka.pwr.edu.pl/index.dhtml	Politechnika Wrocławska - Wydział Elektroniki	
http://bash.org.pl/latest/	bash.org.pl: najnowsze	
http://www.debian.pl/blog.php	Polskie Forum Użytkowników Debiana - Ostatnie wpisy na blogu - Blogi	
http://www.linux-on-laptops.com/	Linux on Laptops	
https://translate.google.pl/?ie=UTF-8&hl=pl&client=tw-ob	Tłumacz Google	
http://debian.edu.pl/	Debian.edu.pl - Serwis dla miłośników Debiana, oraz systemów na nim bazujących.	
https://thepiratebay.la/	Download music, movies, games, software! The Pirate Bay - The galaxy's most resilient BitTorrent site	
http://alpha.wallhaven.cc/	Awesome Wallpapers - wallhaven.cc	
http://pastebin.com/	Pastebin.com - #1 paste tool since 2002!	
