auto-reload yes
browser dwb 
cleanup-on-quit yes
download-path "$HOME/Pobrane/"
feed-sort-order title-dec
max-downloads 4
datetime-format "%b %d %R"
mark-as-read-on-hover yes
notify-always yes
notify-program notify-send
notify-xterm yes
notify-screen yes
player mpv
refresh-on-startup yes
reload-time 20
reload-threads 2

# Theme
color background            white color8
color listnormal             white black 
color listfocus              red black reverse
color info                   red black 
color article                white black
color listnormal_unread      white black bold 
color listfocus_unread       magenta black bold

#highlights
highlight article "^(Title):.*$" green default
highlight article "https?://[^ ]+" green default
highlight article "\\[image\\ [0-9]+\\]" green default
